<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ page.title | default: site.title }}</title>        
        <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
        <link rel="stylesheet" href="{{ '/assets/css/open-props.min.css' | relative_url }}">
        <link rel="stylesheet" href="{{ '/assets/css/props.colors-hsl.css' | relative_url }}">
    </head>
<body>
    <div id="info-bar">
        ⚠️ This is a wireframe version of the WTD Documentation Salary Survey form for community feedback. This is **not** the real survey. ⚠️
    </div>
    <header>
        <h1>{{ site.title }}</h1>
    </header>
    <main>
        {{ content | convert_callouts }}
    </main>
    <footer style="margin-top:40px;background-color:#f1f8ff;">
        <h2>Give Feedback</h2>
        <p>Connect your GitHub account to leave a comment, which will be logged as a GitHub issue. </p>
        <script src="https://utteranc.es/client.js"
            repo="writethedocs/salary-survey"
            issue-term="pathname"
            label="comment"
            theme="github-light"
            branch="main"
            crossorigin="anonymous"
            async>
        </script>
    </footer>
</body>
</html>


